<br />
<style>
    body {
        background: linear-gradient(to bottom, #F0F8FF, #C0C0C0);
    }
</style>
<body>
<h4>Welcome to our Student Registration Application! Our platform provides a comprehensive set of features designed to streamline the student experience, from registration to course selection and beyond.</h4>
<br />
<h4>Join us and experience the convenience and efficiency of our Student Registration Application. Empowering students to navigate their academic journey with ease is our top priority. Start exploring today!</h4>

<div>
    <p>Try logging in now <a href="@Url.Action("Login", "UserInfo")">here</a>.</p>
</div> 
</body>