@{
    ViewData["Title"] = "RegistartionSuccess";
}

<center><h1>&#10004; Registration Successful!</h1></center>

<div>
    <center><p><a href="@Url.Action("Details", "RegistrationInfo")">View registered courses </a></p></center>
</div> 