@{
    ViewData["Title"] = "Success";
}
<style>
    h1 {
        font-size: 36px;
        color: green;
        text-align: center;
        margin-top: 50px;
    }

    body {
        background: linear-gradient(to bottom, #F0F8FF, #C0C0C0);
    }
</style>
<br />
<body>
    <center><h1>&#127881; User Registration Successful!</h1></center>

    <div>
        <center><p>Try logging in now <a href="@Url.Action("Login", "UserInfo")">here</a></p></center>
    </div>
</body>
